@font-face {
    font-family: 'Norse';
    src: url(norse/Norse.otf);
    src: url(norse/Norsebold.otf);
}
body {
    margin: 0;
    font-family: 'Helvetica';
}
.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 0;
}
.leftside {
    display: flex;
    background-image: url(images/negative-space-assorted-fall-leaves-2048x1365.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 32vw;
    justify-content: center;
    height: 100vh;
}

.banner {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    height: 16%;
    width: 100%;
    margin-top: 25%;
    justify-content: center;
    padding: 2%;
}


.logotext {
    display: flex;
    font-family: 'Norse';
    font-weight: bold;
    align-items: center;
    justify-content: center;
    font-size: 10vh;
    color: white;
}
.rightside {
    display: flex;
    height: 100vh;
    width: 80vw;
    flex-direction: column;
}
.blurb {
    height: 30vh;
    background-color: #F0EAD6;
    align-items: center;
    justify-content: center;
}

.blurbtext {
    font-size: 3vh;
    font-weight: bold;
    justify-content: center;
    overflow: hidden;
    padding-left: 3rem;
    padding-right: 20rem;
    padding-top: 3rem;
}
.form {
    height: 40vh;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.2);
    z-index: 2;
    padding-left: 3rem;

}
form {
    display: flex;
    flex-direction: column;
    height: 30vh;
}

.formrow1, .formrow2, .formrow3 {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    margin-bottom: 5px;
}

.firstname, .lastname, .email, .phone, .password, .passwordconfirm {
    display: flex;
    flex-direction: column;
}

.form input {
    width: 15vw;
    height: 2vh;
}
#motivation {
    font-size: 1.5rem;
    font-weight: bold;
}

label {
    font-size: 0.7rem;
    letter-spacing: 1px;
    color: #333;
    margin-bottom: 0.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

input {
    padding: 0.3rem;
    font-size: 1rem;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
}
input:focus {
    outline: none;
    border-color: #4a90e2;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
  }
  
input[type="password"]:invalid {
    border-color: #c53030;
  }
  

input[type="password"]:focus:invalid {
    border-color: #c53030;
  }
  

.account {
    background-color: #F0EAD6;
    height: 30vh;
    padding: 2rem 3rem;
    z-index: 1;
}
#createaccount {
    background-color: #596D48;
    border: none;
    border-radius: 6px;
    padding: 0.8rem 3rem;
    box-shadow: 0 4px 2px -2px gray;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.2s;
}

#createaccount:hover {
    background-color: #4a5b3a;
  }

.account p {
    margin-top: 2rem;
}

.account a {
    color: #596D48;
    font-weight: bold;
    text-decoration: none;
  }
  
.account a:hover {
    text-decoration: underline;
  }